.About{
    background: black;
    color: whitesmoke;
    padding: 2em;
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1em;
        h3{
            font-size: 50px;
        }
        img{
            width: 350px;
            border-radius: 12px;
        }
        .abt-left{
            padding: 5em;
        }
    }
}

@media(max-width: 600px) {
    .container{
        flex-wrap: wrap;
    }
}