.About{
    color: whitesmoke;
    padding: 0.5em;
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1em;
        border-radius: 12px;
        background: black;
        h3{
            font-size: 50px;
        }
        h3:hover{
            color: teal;
        }

        .techskill, .dataskill{
            margin-top: 2.5em;
            h4{
                font-size: 30px;
            }
        }
        img{
            width: 350px;
            border-radius: 12px;
        }
        .abt-left{
            padding: 5em;
        }
    }
}

@media(max-width: 600px) {
    .container{
        flex-wrap: wrap;
    }
}

//FONT CUSTOM

@font-face {
    font-family: Anurati;
    src: url(../../utils/Anurati-Regular.otf);
}