.Home{
    margin: auto;
    width: 80%;
    //border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    height: 90vh;
    .hero-img{
        padding: 2em;
        width: 400px;
        img{
            width: 350px;
            box-shadow: -20px 20px 0px 5px #333;
        }
    }
}