.Home{
    margin: auto;
    width: 90%;
    //border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    height: 100vh;
    h2{
        color: teal;
    }
    .hero-img{
        padding: 2em;
        width: 400px;
        img{
            width: 350px;
            box-shadow: -20px 20px 0px 5px #333;
        }
    }
    .title{
        .sc-container{
            display: flex;
            .socialLink{
                padding: 1em;
                :hover{
                    cursor: pointer;
                    color: teal;
                }
            }
        }
    }
    .hero-btn{
        background: black;
        color: whitesmoke;
        padding:  1.5em;
        margin-top: 1em;
        border: none;
    }
    .hero-btn:hover{
        cursor: pointer;
    }
}