.Projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .title{
        font-family: Anurati;
        font-size: 50px;
        font-weight: bolder;
    }
}

@media(max-width: 600px){
    .Projects{
        flex-direction: column;
    }
}



//FONT CUSTOM

@font-face {
    font-family: Anurati;
    src: url(../../utils/Anurati-Regular.otf);
}

