.Projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .title{
        font-size: 50px;
        font-weight: bolder;
    }
    img:hover{
        margin: 2em;
        transition: 2s ease-in-out;
    }
}

@media(max-width: 600px){
    .Projects{
        flex-direction: column;
    }
}