.SocialMedia{
    //border: 2px solid black;
    padding: 2em;
    margin: 2em;
    display: flex;
    flex-wrap:wrap;
    .socLink{
      color: whitesmoke;
      background-color: black;
      text-decoration: none;
      margin: 1em;
      border: 2px solid white;   
      font-weight: bolder;
      padding: 1em;
    }
    .socLink:hover{
      background-color: teal;
      color: white;
      transition: 0.4s ease-in-out;
    }
  };