.Footer{
    background: black;
    color: whitesmoke;
    padding: 2em;
    h1{
        text-align: center;
    }
    h5{
        text-align: center;
    }
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin: auto;
        .socialLink{
            color: white;
            padding: 1em;
            :hover{
                cursor: pointer;
                color: teal;
            }
        }
    }
}


@media(max-width: 600px){
    .Footer{
        .container{
            display: flex;
            justify-content: space-around;
            .left{
                padding: 3em;
            }
            .right{
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
}