@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
.Home {
  margin: auto;
  padding: 2em;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  height: 100vh;
}

.Home h2 {
  color: teal;
}

.Home .hero-img {
  padding: 2em;
  width: 400px;
}

.Home .hero-img img {
  width: 350px;
  -webkit-box-shadow: -20px 20px 0px 5px black;
          box-shadow: -20px 20px 0px 5px black;
}

.Home .title .sc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Home .title .sc-container .socialLink {
  padding: 1em;
}

.Home .title .sc-container .socialLink :hover {
  cursor: pointer;
  color: teal;
}

.Home .hero-btn {
  background: black;
  padding: 1.5em;
  margin-top: 1em;
  border: none;
}

.Home .hero-btn a {
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Jura';
}

.Home .hero-btn:hover {
  cursor: pointer;
  background: teal;
}

.Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  padding: 1em;
}

.Nav .logo {
  border: 8px solid white;
  color: white;
  padding: 0.5em;
  font-size: 20px;
  font-weight: bolder;
}

.Nav .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 40%;
}

.Nav .navLinks .link {
  text-decoration: none;
  color: white;
  padding: 1em;
}

.Nav .navLinks .link:hover {
  border: none;
  background: white;
  color: black;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.Nav .hamburger {
  display: none;
  border: none;
  background: black;
  color: white;
}

@media (max-width: 600px) {
  .Nav {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .Nav.expanded {
    height: 100%;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
  .Nav.expanded .navLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    font-size: 30px;
  }
  .Nav .hamburger {
    display: block;
    cursor: pointer;
  }
  .Nav .hamburger :hover {
    background: white;
    color: black;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .Nav .navLinks {
    display: none;
  }
}

.Footer {
  background: black;
  color: whitesmoke;
  padding: 2em;
}

.Footer h5 {
  text-align: center;
}

.Footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

.Footer .container .socialLink {
  color: white;
  padding: 1em;
}

.Footer .container .socialLink :hover {
  cursor: pointer;
  color: teal;
}

@media (max-width: 600px) {
  .Footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .Footer .container .left {
    padding: 3em;
  }
  .Footer .container .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.btn {
  background: black;
  color: whitesmoke;
  padding: 1em;
  border: none;
}

.Banner {
  background: url("../../images/haikei.svg");
  height: 12em;
}

.Badges {
  text-align: center;
  background: black;
  color: whitesmoke;
  padding: 2em;
  font-size: 20px;
}

.Badges .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Badges .container .skill {
  padding: 1em;
}

.Projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Projects .title {
  font-size: 50px;
  font-weight: bolder;
}

.Projects img:hover {
  margin: 2em;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

@media (max-width: 600px) {
  .Projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Card {
  background: #333;
  color: white;
  width: 450px;
  border: 3px solid black;
  border-radius: 5px;
  margin: 1em;
  text-align: center;
}

.Card img {
  width: 100%;
}

.Card .btn {
  margin: 0.5em;
}

.Card .btn a {
  text-decoration: none;
  color: white;
}

.Card .btn:hover {
  background: teal;
  cursor: pointer;
}

.Projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Projects .title {
  font-size: 50px;
  font-weight: bolder;
}

.Projects img:hover {
  margin: 2em;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

@media (max-width: 600px) {
  .Projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.About {
  background: black;
  color: whitesmoke;
  padding: 2em;
}

.About .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.About .container img {
  width: 350px;
}

.About .container .abt-left {
  padding: 5em;
}

@media (max-width: 600px) {
  .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Jura', sans-serif;
}
/*# sourceMappingURL=index.css.map */