@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
.Home {
  margin: auto;
  padding: 2em;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
  height: 100vh;
}
.Home h1 {
  font-size: 35px;
}
.Home h2 {
  color: teal;
}
.Home .hero-img {
  padding: 2em;
  width: 400px;
  border-radius: 12px;
}
.Home .hero-img img {
  width: 350px;
  box-shadow: -20px 20px 0px 5px black;
  border-radius: 12px;
}
.Home .title .sc-container {
  display: flex;
}
.Home .title .sc-container .socialLink {
  padding: 1em;
}
.Home .title .sc-container .socialLink :hover {
  cursor: pointer;
  color: teal;
}
.Home .hero-btn {
  background: black;
  padding: 1.5em;
  margin-top: 1em;
  border: none;
  border-radius: 12px;
}
.Home .hero-btn a {
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Jura";
}
.Home .hero-btn:hover {
  cursor: pointer;
  background: teal;
}

@font-face {
  font-family: Anurati;
  src: url(../../utils/Anurati-Regular.otf);
}
.Nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  padding: 1em;
  z-index: 1000;
}
.Nav .logo {
  border: 8px solid black;
  border-radius: 12px;
  color: whitesmoke;
  background: black;
  padding: 0.5em;
  font-family: Anurati;
  font-size: 20px;
  font-weight: bolder;
}
.Nav .navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 40%;
}
.Nav .navLinks .link {
  text-decoration: none;
  color: black;
  padding: 1em;
}
.Nav .navLinks .link:hover {
  border: none;
  border-radius: 12px;
  background: black;
  color: white;
  transition: 0.2s ease-in-out;
}
.Nav .hamburger {
  display: none;
  border: none;
  background: white;
  color: black;
}

@media (max-width: 600px) {
  .Nav {
    transition: 0.5s ease-in-out;
  }
  .Nav.expanded {
    height: 100%;
    transition: 2s ease-in-out;
  }
  .Nav.expanded .navLinks {
    display: flex;
    padding: 1em;
    flex-direction: column;
    width: 100%;
    font-size: 30px;
  }
  .Nav .hamburger {
    display: block;
    cursor: pointer;
  }
  .Nav .hamburger :hover {
    background: white;
    color: black;
    transition: 0.5s ease-in-out;
  }
  .Nav .navLinks {
    display: none;
  }
}
.Footer {
  background: black;
  color: whitesmoke;
  padding: 2em;
}
.Footer h1 {
  text-align: center;
}
.Footer h5 {
  text-align: center;
}
.Footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}
.Footer .container .socialLink {
  color: white;
  padding: 1em;
}
.Footer .container .socialLink :hover {
  cursor: pointer;
  color: teal;
}

@media (max-width: 600px) {
  .Footer .container {
    display: flex;
    justify-content: space-around;
  }
  .Footer .container .left {
    padding: 3em;
  }
  .Footer .container .right {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.btn {
  background: black;
  color: whitesmoke;
  padding: 1em;
  border: none;
}

.Banner {
  background: url("../../images/haikei.svg");
  height: 12em;
}

.Badges {
  text-align: center;
  background: black;
  color: whitesmoke;
  padding: 2em;
  font-size: 20px;
  margin-top: 1em;
}
.Badges .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Badges .container .skill {
  padding: 2em;
}
.Badges .container .skill p {
  text-transform: uppercase;
  font-size: 15px;
}

.Projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Projects .title {
  font-size: 50px;
  font-weight: bolder;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .Projects {
    flex-direction: column;
  }
}
@font-face {
  font-family: Anurati;
  src: url(../../utils/Anurati-Regular.otf);
}
.Card {
  background: #333;
  color: white;
  width: 450px;
  border: 3px solid black;
  border-radius: 12px;
  margin: 1em;
  text-align: center;
}
.Card .card-title {
  color: coral;
  font-weight: bolder;
  font-size: 25px;
}
.Card img {
  width: 100%;
  border-radius: 12px;
}
.Card .tech-stack {
  padding: 0.5em;
}
.Card .tech-stack i {
  padding: 1em;
}
.Card .tech-stack i:hover {
  color: coral;
}
.Card .btn {
  margin: 0.5em;
  border-radius: 12px;
}
.Card .btn a {
  text-decoration: none;
  color: white;
}
.Card .btn:hover {
  background: teal;
  cursor: pointer;
}

@media (max-width: 600px) {
  .Card {
    width: 350px;
  }
}
.Projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Projects .title {
  font-size: 50px;
  font-weight: bolder;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .Projects {
    flex-direction: column;
  }
}
@font-face {
  font-family: Anurati;
  src: url(../../utils/Anurati-Regular.otf);
}
.About {
  color: whitesmoke;
  padding: 2em;
}
.About .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  border-radius: 12px;
  background: black;
}
.About .container h3 {
  font-size: 50px;
}
.About .container h3:hover {
  color: teal;
}
.About .container img {
  width: 350px;
  border-radius: 12px;
}
.About .container .abt-left {
  padding: 5em;
}

@media (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }
}
@font-face {
  font-family: Anurati;
  src: url(../../utils/Anurati-Regular.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jura", sans-serif;
}/*# sourceMappingURL=index.css.map */