@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');


//IMPORtS 
@import "./pages/Home/Home.scss";
@import "./components/Nav/Nav.scss";
@import "./pages/Footer/Footer.scss";
@import "./components/Button/Button.scss";
@import "./components/Banner/Banner.scss";
@import "./components/Badges/Badges.scss";
@import "./pages/Projects/Projects.scss";
@import "./components/Card/Card.scss";
@import "./pages/Projects/Projects.scss";
@import "./pages/About/About.scss";
@import "./pages/Form/Form.scss";
@import "./components/ContactForm/ContactForm.scss";


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Jura', sans-serif;
}

