//FONT CUSTOM

@font-face {
    font-family: Anurati;
    src: url(../../utils/Anurati-Regular.otf);
}

////
.Nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 1em;

    .logo{
        border: 8px solid black;
        border-radius: 12px;
        color: black;
        padding: 0.5em;
        font-family: Anurati;   // ADDED FONT CUSTOM ANURATI
        font-size: 20px;
        font-weight: bolder;
    }
    .navLinks{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        width: 40%;
        .link{
            text-decoration: none;
            color: black;
            padding: 1em;
        }
        .link:hover{
            border: none;
            border-radius: 12px;
            background: black;
            color: white;
            transition: 0.2s ease-in-out;
        }
    }
    .hamburger{
        display: none;
        border: none;
        background: white;
        color: black;
    }
}

@media(max-width: 600px){

    .Nav{
        &.expanded{
            height: 100%;
            transition: 2s ease-in-out;
            .navLinks{
                display: flex;
                padding: 1em;
                flex-direction: column;
                width: 100%;
                font-size: 30px;
            }
        }
        //border:2px solid #333;
        
        transition: 0.5s ease-in-out;
        // How to click and expand 

        .hamburger{
            display: block;
            cursor: pointer;
            :hover{
                background: white;
                color: black;
                transition: 0.5s ease-in-out;
            }
        }

        .navLinks{
            display: none;
        }
    }
}


//FONT CUSTOM

@font-face {
    font-family: Anurati;
    src: url(../../utils/Anurati-Regular.otf);
}