.Nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(236, 234, 234);
    .logo{
        border: 8px solid black;
        padding: 0.8em;
        font-size: 18px;
        font-weight: bolder;
    }
    .navLinks{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        width: 40%;
        .link{
            text-decoration: none;
            color: black;
            padding: 1em;
        }
        .link:hover{
            border: none;
            background: black;
            color: whitesmoke;
            transition: 0.2s ease-in-out;
        }
    }
    .hamburger{
        display: none;
        border: none;
        .FaBars{
            font-size: 2em; 
        }
    }
}

@media(max-width: 600px){
    .Nav{
        //border:2px solid #333;
        .hamburger{
            display: block;
        }
        .navLinks{
            display: none;
            width: 100%;
        }
    }
}